@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
    

}
section#cell{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(imagens/frame-iphone.png) no-repeat top center;
}

iframe#tela{
    position: relative;
    top: 79px;
    left: 21px;
    width: 269px;
    height: 473px;
    

}
section#redes{
    text-align: right;
}
section#redes img{
    width: 50px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 3px 3px 4px hsla(0, 0%, 0%, 0.678);
    box-sizing: border-box;
}
section#redes img:hover{
    border: 0px solid rgba(255, 255, 255, 0.473);
    transform: translate(-5px, -1px);
    box-shadow: 6px 6px 4px hsla(0, 0%, 0%, 0.678);
    transition: transform 0.3s, box-shadow 0.3s;
}